<div class="container">
<% if current_user.present? %>
  <% if current_user.id == @user.id %>
    <h1><%= current_user.nickname %>さんのマイページ</h1>
    <h2>プロフィール</h2>
    <% if current_user.user_detail.present? %>
    <p><%#= current_user.user_detail.profile %></p>

    <table>
      <tr>
        <th>Nickname</th>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <th>Memo</th>
        <td><%= @user.memo %></td>
      </tr>
    </table>

    <%= link_to"編集", edit_user_registration_path,method: :get %>
    <%= link_to"プロフィールを編集する", edit_user_detail_path(current_user.user_detail.id), method: :get %>
  <% end %>
<% else %>
  <%= link_to"プロフィールを設定する", new_user_detail_path, method: :get %>
<% end %>









<hr>
<%#= link_to '<< Back', controller: :posts %>
<hr>
<div>copyright Tree 2018</div>
