<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :post_summary %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.collection_select(:genre_id, Genre.all, :id, :name) %>
    <%#= form.label :genre.try(:name) %>
    <%#= form.text_area :genre_id, id: :post_genre_id %>
    <%#= form.select :post.genre.name,[["",nil],["営業","営業"],["経理","経理"],["企画・管理","企画・管理"],["事務","事務"],["販売・サービス","販売・サービス"],["専門","専門"],["公務員・教員","公務員・教員"],["技術","技術"],["クリエイティブ","クリエイティブ"]], {}, {class: 'form-control'} %>
    <%#= form.select :genre_id,[["",nil],["観光","観光"],["生活","生活"],["不便","不便"],["言語","言語"],["aaa","aaa"],["bbb","bbb"],["ccc","ccc"],["",""]], {}, {class: 'form-control'} %>
    <%#= f.collection_select(:prefecture_id, Prefecture.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
