<%#<p id="notice"><%= notice %></p>

<div class="container">
  <main class="main">

<h1>Posts</h1>

<table width="65%">
  <thead>
    <tr>
      <%#<th colspan="">Title</th>%>
      <th width="10%">Title</th>
      <th width="5%">いいね</th>
      <th width="20%">Summary</th>
      <th width="20%">Content</th>
      <th width="5%">User</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><span class="fa fa-heart like-btn"><%= post.likes.count %></span>件</td>
        <td><%= post.summary %></td>
        <td><%= post.content %>          <%= link_to 'もっと見る', post %></td>
        <td><%#= hidden_field :post.user_id, {value: post.user_id} %></td>
        <td><%= post.user.nickname %></td>
        <td><%#= link_to 'Show', post %></td>
        <td><%#= link_to 'Edit', edit_post_path(post) %></td>
        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<!-- ページング機能 -->
       <%= paginate @posts %>
</main>



<!-- サイドバー -->
<div class="sidebar" width="10%">
  <div class="sidebar__item sidebar__item--fixed">
    <%#<div id="side" class="col-sm-12 col-md-4">%>
      <!-- いいねが多い投稿一覧機能 -->
      <div class="rank-box">
        <%#<span class="rank-box-title"><i class="fa fa-check fa-fw"></i>いいね！ランキング</span>%>
        <span class="rank-box-title">いいね！ランキング</span>
        <div class="not-under">
          <% @like_ranking.each.with_index(1) do |post, i| %>
            <%= link_to post do %>
              <div class ="rank">
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <td class="border-top-0"><%= i %>位　「<%= post.title %>」</td>
                    </tr>
                    </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
        </div>
        <%#= link_to 'もっと見る', posts_like_ranking_path, style: "text-decoration: underline" %>
        <%= link_to 'もっと見る', posts_like_ranking_path, style: "text-decoration: underline" %>

      </div>

      <!-- いいねが多い投稿一覧機能ここまで -->
    </div>
</div>
