<%#<p id="notice"><%= notice %></p>
<%#<div class="body-full">%>
<h1>Idea 一覧</h1>
<div class="container-fluid index-body">
  <div class="row">

    <div id="main" class="col-sm-12 col-md-8">
  <%#<div class="main-body">%>

<%#<table width="75%">%>
<table class="table-responsive" width="75%">
  <%#<table class="table table-bordered" width="65%">%>
　<%#<table class="table table-condensed">%>

  <thead>
    <tr>
      <th>Title</th>
      <th>いいね</th>
      <th>Summary</th>
      <th>Content</th>
      <th>User</th>
      <th>Genre</th>
      <th colspan="6"></th>

      <%#<th width="10%">Title</th>%>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><span class="fa fa-heart like-btn"><%= post.likes.count %></span>件</td>
        <td><%= post.summary %></td>
        <td><%= post.content %>          <%= link_to 'もっと見る', post %></td>
        <td><%= post.user.nickname %>
        <td><%= post.genre.try(:name) %></td>

<!--
        <% if post.genre.present? %>
          <td><%= post.genre.name %></td>
        <% end %>
-->


      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- ページング機能 -->
       <%= paginate @posts %>
 <%#</main>%>
<br>

<%= link_to '投稿する', new_post_path %>
</div>

<%#<p>%>
<!-- サイドバー -->
<div id="side" class="col-sm-12 col-md-4">
    <!-- いいねが多い投稿一覧機能 -->
      <div class="rank-box">
        <span class="rank-box-title"><span class="fa fa-heart like-btn"></span>いいね！ランキング</span>
        <div class="not-under">
          <% @like_ranking.each.with_index(1) do |post, i| %>
            <%= link_to post do %>
              <div class ="rank">
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <td class="border-top-0"><%= i %>位　「<%= post.title %>」</td>
                    </tr>
                    <tr>
                      <td class="border-top-0"> (<%= post.summary %>) </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= link_to 'もっと見る', posts_like_ranking_path, style: "text-decoration: underline" %>
     </div>
       <!-- いいねが多い投稿一覧機能ここまで -->
  </div>


    </div>
   </div>
  </div>
<%#</div>
