<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @post.summary %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
　<%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
    　<span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
 <% else %>
 　<%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
       <span class="fa fa-heart like-btn"></span>
     <% end %>
 <% end %>
 <%= @likes_count %>件

<p>
  <strong>Nickname:</strong>
  <%#= link_to @post.user.nickname, controller::users, action::show %>
  <%#= link_to @post.user.nickname, user_path(current_user.id) %>
  <%= link_to @post.user.nickname, user_path(@user.id) %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', posts_path %>
