<%= form_with(model: user_detail, local: true) do |form| %>
  <% if user_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_detail.errors.count, "error") %> prohibited this user_detail from being saved:</h2>

      <ul>
      <% user_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_area :nickname, id: :user_detail_nickname %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_area :profile, id: :user_detail_profile %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :user_detail_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
